<div class="destination-card h-100 d-flex flex-column">

  <!-- Image -->

  <div class="card-img-wrapper">

    <img
      [src]="destination.image"
      [alt]="destination.name"
    >

    @if (destination.badge) {

      <span class="badge-top-left bg-warning text-dark">

        {{ destination.badge }}

      </span>

    }

    <button
  class="btn-fav"
  [class.favorite]="destination.favorite"
  (click)="toggleFavorite()"
>
  <i
    class="bi"
    [ngClass]="destination.favorite ? 'bi-heart-fill' : 'bi-heart'"
  ></i>
</button>

  </div>


  <!-- Card Content -->

  <div class="p-3 d-flex flex-column flex-grow-1">

    <div
      class="d-flex justify-content-between align-items-start mb-1"
    >

      <h5 class="fw-bold mb-0">

        {{ destination.name }}

      </h5>

      <div class="small fw-bold text-warning">

        <i class="bi bi-star-fill"></i>

        {{ destination.rating }}

      </div>

    </div>


    <p class="text-muted small mb-2">

      <i class="bi bi-geo-alt"></i>

      {{ destination.country }}

    </p>


    <!-- Tags -->

    <div class="mb-3">

      @for (tag of destination.tags; track tag) {

        <span class="tag-badge">

          {{ tag }}

        </span>

      }

    </div>


    <!-- Bottom -->

    <div
      class="d-flex justify-content-between align-items-end
             mt-auto pt-2 border-top"
    >

      <div>

        <span class="starting-text">

          Starting from

        </span>

        <span class="price-text">

          {{ destination.price | currency }}

        </span>

      </div>


      <button
        class="btn-custom-outline"
        (click)="addToTrip()"
      >

        Add To Trip

      </button>

    </div>

  </div>

</div>