      <footer class="footer">

        <div class="">

            <div class="py-4 px-3">
                <div class="justify-content-between d-flex mx-auto flex-wrap">

                    <div class="col-lg-4 mt-0 ">

                        <h3 class="logo text-start">
                            TripMate
                        </h3>

                        <p>
                            Making travel planning simple, organized,
                            and enjoyable for everyone.
                        </p>

                    </div>
                    <div class="col-5 col-lg-3 m-2">

                        <h5>Links</h5>

                        <ul>

                            <li><a href="./home.html">Home</a></li>

                            <li><a href="./destination.html">Destinations</a></li>

                            <li><a href="./services.html">Services</a></li>

                            <li><a href="./about.html">About</a></li>

                        </ul>

                    </div>

                    <div class="col-5 col-lg-3 m-2">

                        <h5>Support</h5>

                        <ul>

                            <li><a href="#">FAQ</a></li>

                            <li><a href="./contact.html">Contact</a></li>

                            <li><a href="#">Privacy Policy</a></li>

                            <li><a href="#">Terms</a></li>

                        </ul>

                    </div>

                    <div class=" m-auto m-2 mt-3">

                        <h5 class="text-center">Follow Us</h5>

                        <div class="social-icons">

                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>

                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>

                            <a href="#">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>

                            <a href="#">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>

                        </div>

                    </div>

                </div>

                <hr>

                <div class="copyright">

                    © 2026 TripMate. All Rights Reserved.

                </div>
            </div>

        </div>

    </footer>