 body {
     transition: all 0.5s linear;
     animation: appear 1s linear;
     overflow: hidden;
 }

 @keyframes appear {
     0% {
         transform: translate(-1500px, 0);
         opacity: 0;
     }

     25% {
         opacity: .25;
     }

     50% {
         opacity: .5;
     }

     75% {
         opacity: .75;
         transform: translate(0, 0);

     }

     100% {
         opacity: 1;
     }
 }

 body::-webkit-scrollbar {
     display: none;
 }

 .left {
     /* background-image: url(./imgs/download.png);
            background-size: cover; */
     height: 90vh;
 }

 a {
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

 @media (min-width:768px) {
     #width-change {
         width: 75%;
     }
 }
 .validation-error {
  min-height: 18px;
  margin-top: 4px;
  line-height: 1.35;
}